<br/><br/>
<form class="form-horizontal" name= "form" ng-submit = "search()" method = "post">
	<div class = "form-group">
		<label class = "col-md-2 control-label" for = "searchEntityName">Currency name:</label>
		<div class = "col-md-2">
			<input type = "text" name = "searchEntityName" id = "searchEntityName" ng-model = "searchEntity.name" class="form-control " />
		</div>
	</div>
	<div class = "form-group">
		<label class = "col-md-2 control-label" for = "searchEntityOfficialCode">Official code:</label>
		<div class = "col-md-2">
			<input type = "text" name = "searchEntityOfficialCode" id = "searchEntityOfficialCode" ng-model = "searchEntity.official_code" class="form-control " />
		</div>
	</div>
	<div class = "form-group">
		<label class = "col-md-2 control-label" for = "searchEntityDomicilna">Domicilna?:</label>
		<div class = "col-md-2">
			<select type = "text" name = "searchEntityDomicilna" id = "searchEntityDomicilna" ng-model = "searchEntity.domicilna" class="form-control " >
				<option value = ""></option>
				<option value = "true">YES</option>
				<option value = "false">NO</option>
			</select>
		</div>
	</div>
	<div class = "form-group">
		<label class = "col-md-2 control-label" for = "searchEntityCountry">Currency country:</label>
		<div class = "col-md-2">
			<input type = "text" name = "searchEntityCountry" id = "searchEntityCountry" ng-model = "searchEntity.country.name" class="form-control " reaonly/>
		</div>
		<span><button type = "button" ng-click = "showModalSearch()" class = "btn btn-primary" >Select country</button></span>
	</div>
	
	
	<div id="myModalSearch" class="modal">
	  	<div class="modal-content">
	    	<h3>Countries</h3><hr/><br/>
	    
	    	<table ng-init = findAllCountries() ng-table="stateTable" class="table table-bordered " border="1">
				<tr>
					<th>Code:</th>
					<th>Name:</th>
				</tr>
				<tr class="state" ng-repeat="country in countries" ng-click = "setSelectedCountrySearch(country)" ng-class = "{selected:country === searchEntity.country}">
					<td>
						{{country.country_code}}
					</td>
			
					<td>
						{{country.name}}
					</td>
				</tr>
			</table>		
			<center><button type = "button" ng-click=closeModal() class="btn btn-default navbar-btn">OK</button></center>
	 		</div>
		</div>	
	
	
	<div class = "form-group">
		<label class = "col-md-2 control-label" ></label>
		<div class = "col-md-2">
			<span><button type = "submit" class = "btn btn-success" >Search</button></span>
		</div>
	</div>
</form>
