<br/><br/>
<form class="form-horizontal" name= "form" ng-submit = "search()" method = "post">
	<div class = "form-group">
		<label class = "col-md-2 control-label" for = "searchEntityDate">Date:</label>
		<div class = "col-md-2">
			<input type = "date" name = "searchEntityDate" id = "searchEntityDate" ng-model = "searchEntity.date" class="form-control " />
		</div>
	</div>
	<div class = "form-group">
		<label class = "col-md-2 control-label" for = "numberOfExchangeRateList">Number Of exchange rate list:</label>
		<div class = "col-md-2">
			<input type = "text" name = "searchEntityNumberOfExchangeRateList" id = "searchEntityNumberOfExchangeRateList" ng-model = "searchEntity.numberOfExchangeRateList" class="form-control " />
		</div>
	</div>
	<div class = "form-group">
		<label class = "col-md-2 control-label" for = "searchEntityAppliedBy">Applied by:</label>
		<div class = "col-md-2">
			<input type = "date" name = "searchEntityAppliedBy" id = "searchEntityAppliedBy" ng-model = "searchEntity.appliedBy" class="form-control " />
		</div>
	</div>
	<div class = "form-group">
		<label class = "col-md-2 control-label" for = "searchEntityBank">Bank:</label>
		<div class = "col-md-2">
			<input type = "text" name = "searchEntityBank" id = "searchEntityBank" ng-model = "searchEntity.commercialBankRate.name" class="form-control " readonly />
		</div>
		<span><button type = "button" ng-click = "showModalSearch()" class = "btn btn-primary" >Select bank</button></span>
	</div>
	
	<div id="myModalSearch" class="modal">
	  	<div class="modal-content">
	    	<h3>Countries</h3><hr/><br/>
	    
	    	<table ng-init = findAllBanks() ng-table="stateTable" class="table table-bordered " border="1">
				<tr>
					<th>Bank Code</th>
					<th>PIB</th>
					<th>Name</th>
					<th>Address</th>
					<th>Email</th>
					<th>Web</th>
					<th>Phone</th>
					<th>Fax</th>
					<th>Bank?</th>
				</tr>
				<tr class="state" ng-repeat="bank in banks" ng-click = "setSelectedBank(bank)" ng-class = "{selected:bank === searchEntity.commercialBankRate}">
					<td>{{bank.bankCode}}</td>
					<td>{{bank.pib}}</td>
					<td>{{bank.name}}</td>
					<td>{{bank.address}}</td>
					<td>{{bank.email}}</td>
					<td>{{bank.web}}</td>
					<td>{{bank.phone}}</td>
					<td>{{bank.fax}}</td>
					<td>{{bank.bank}}</td>
				</tr>
			</table>		
			<center><button type = "button" ng-click=closeModal() class="btn btn-default navbar-btn">OK</button></center>
	 		</div>
		</div>	
	
	
	<div class = "form-group">
		<label class = "col-md-2 control-label" ></label>
		<div class = "col-md-2">
			<span><button type = "submit" class = "btn btn-success" >Search</button></span>
		</div>
	</div>
</form>
