<br/><br/>
<form class="form-horizontal" name= "form" ng-submit = "search()" method = "post">
	<div class = "form-group">
		<label class = "col-md-2 control-label" for = "searchEntityTypeOfMessage">Type of message:</label>
		<div class = "col-md-2">
			<input type = "text" name = "searchEntityTypeOfMessage" id = "searchEntityTypeOfMessage" ng-model = "searchEntity.typeOfMessage" class="form-control " />
		</div>
	</div>
	<div class = "form-group">
		<label class = "col-md-2 control-label" for = "searchEntityDate">Date:</label>
		<div class = "col-md-2">
			<input type = "date" name = "searchEntityDate" id = "searchEntityDate" ng-model = "searchEntity.date" class="form-control " />
		</div>
	</div>
	<div class = "form-group">
		<label class = "col-md-2 control-label" for = "searchEntitySum">Sum:</label>
		<div class = "col-md-2">
			<input type = "text" name = "searchEntitySum" id = "searchEntitySum" ng-model = "searchEntity.sum" class="form-control " />
		</div>
	</div>
	<div class = "form-group">
		<label class = "col-md-2 control-label" for = "searchEntityBankSender">Bank sender:</label>
		<div class = "col-md-2">
			<input type = "text" name = "searchEntityBankSender" id = "searchEntityBankSender" ng-model = "searchEntity.senderBank.name" class="form-control" readonly/>
		</div>
		<span><button type = "button" ng-click = "showModalBankSender()" class = "btn btn-primary" >Select bank sender</button></span>
	</div>
	<div class = "form-group">
		<label class = "col-md-2 control-label" for = "searchEntityBankSender">Bank :</label>
		<div class = "col-md-2">
			<input type = "text" name = "searchEntityBank" id = "searchEntityBank" ng-model = "searchEntity.bank.name" class="form-control" readonly/>
		</div>
		<span><button type = "button" ng-click = "showModalBank()" class = "btn btn-primary" >Select bank</button></span>
	</div>
	
	<div id="modalBankSender" class="modal">
	  	<div class="modal-content">
	    	<h3>Countries</h3><hr/><br/>
	    
	    	<table ng-init = findAllBanks() ng-table="stateTable" class="table table-bordered " border="1">
				<tr>
					<th>Bank Code</th>
					<th>PIB</th>
					<th>Name</th>
					<th>Address</th>
					<th>Email</th>
					<th>Web</th>
					<th>Phone</th>
					<th>Fax</th>
					<th>Bank</th>
				</tr>
				<tr class="state" ng-repeat="bank in banks" ng-click = "setSelectedBankSenderSearch(bank)" ng-class = "{selected:bank === searchEntity.senderBank || bank == searchEntity.bank}">
					<td>{{bank.bankCode}}</td>
					<td>{{bank.pib}}</td>
					<td>{{bank.name}}</td>
					<td>{{bank.address}}</td>
					<td>{{bank.email}}</td>
					<td>{{bank.web}}</td>
					<td>{{bank.phone}}</td>
					<td>{{bank.fax}}</td>
					<td>{{bank.bank}}</td>
				</tr>
			</table>		
			<center><button type = "button" ng-click=closeBankSenderModal() class="btn btn-default navbar-btn">OK</button></center>
	 		</div>
		</div>	
	<div id="modalBank" class="modal">
	  	<div class="modal-content">
	    	<h3>Countries</h3><hr/><br/>
	    
	    	<table  ng-table="stateTable" class="table table-bordered " border="1">
				<tr>
					<th>Bank Code</th>
					<th>PIB</th>
					<th>Name</th>
					<th>Address</th>
					<th>Email</th>
					<th>Web</th>
					<th>Phone</th>
					<th>Fax</th>
					<th>Bank</th>
				</tr>
				<tr class="state" ng-repeat="bank in banks" ng-click = "setSelectedBankSearch(bank)" ng-class = "{selected:bank === searchEntity.senderBank || bank == searchEntity.bank}">
					<td>{{bank.bankCode}}</td>
					<td>{{bank.pib}}</td>
					<td>{{bank.name}}</td>
					<td>{{bank.address}}</td>
					<td>{{bank.email}}</td>
					<td>{{bank.web}}</td>
					<td>{{bank.phone}}</td>
					<td>{{bank.fax}}</td>
					<td>{{bank.bank}}</td>
				</tr>
			</table>		
			<center><button type = "button" ng-click=closeBankModal() class="btn btn-default navbar-btn">OK</button></center>
	 		</div>
		</div>		
	
	<div class = "form-group">
		<label class = "col-md-2 control-label" ></label>
		<div class = "col-md-2">
			<span><button type = "submit" class = "btn btn-success" >Search</button></span>
		</div>
	</div>
</form>
