<br/><br/>
<form class="form-horizontal" ng-submit = "add()" method="post">
		<div class = "form-group" >
			<label class="col-md-2 control-label">Bank Code:</label>
			<div class = "col-md-2">
				<input ng-min="3" ng-max="3"  class="form-control input-sm" ng-model="$parent.entity.bankCode" type="text"> 
			</div>
		</div>	
		
		<div class = "form-group" >
			<label class="col-md-2 control-label">PIB:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.pib" type="text"> 
			</div>
		</div>	
		
		<div class = "form-group" >
			<label class="col-md-2 control-label">Name:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.name" type="text"> 
			</div>
		</div>	
		
		<div class = "form-group" >
			<label class="col-md-2 control-label">Address:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.address" type="text"> 
			</div>
		</div>
			
		<div class = "form-group" >
			<label class="col-md-2 control-label">Email:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.email"  type="mail"> 
			</div>
		</div>
		
		<div class = "form-group" >
			<label class="col-md-2 control-label">Web:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.web" type="text"> 
			</div>
		</div>	
		
		<div class = "form-group" >
			<label class="col-md-2 control-label">Phone:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.phone"type="number"> 
			</div>
		</div>	
		
		<div class = "form-group" >
			<label class="col-md-2 control-label">Fax:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.fax" type="text"> 
			</div>
		</div>
			
		<div class = "form-group" >
			<label class="col-md-2 control-label">Bank:</label>
			<div class = "col-md-2">
				<input type="checkbox" checked="checked" ng-model="$parent.entity.bank"/>
			</div>
		</div>
		
		
		<div class = "form-group">
				<label class = "col-md-2 control-label"></label>
				<div class = "col-md-2">
					<span><button type = "submit" class = "btn btn-success" >Add</button></span>
				</div>
		</div>
		

</form>