<br/><br/>
<form class="form-horizontal" ng-submit = "add()" method="post">
		<div class = "form-group" >
			<label class="col-md-2 control-label">Client name:</label>
			<div class = "col-md-2">
				<input class="form-control input-sm" ng-model="$parent.entity.naziv_klijenta" type="text" required="required"> 
			</div>
		</div>	
		
		<div class = "form-group" >
			<label class="col-md-2 control-label">Client nickname:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.skraceni_naziv_klijenta" type="text" required="required"> 
			</div>
		</div>	
		
		<div class = "form-group" >
			<label class="col-md-2 control-label">Fax:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.fax" type="text"> 
			</div>
		</div>
		
		<div class = "form-group">
			<label class = "col-md-2 control-label" for = "entityBusinessActivityCode">Business activity code:</label>
			<div class = "col-md-2">
				<input type = "text" name = "entityBusinessActivityCode" id = "entityBusinessActivityCode" ng-model = "entity.businessActivityCode.code" class="form-control " readonly/>
			</div>
			<span><button type = "button" ng-click = "showMoodalBusinessActivitySearch()" class = "btn btn-primary" >Select business activity</button></span>
		</div>
		
		<div class = "form-group" >
			<label class="col-md-2 control-label">MBR:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.maticni_broj" type="text" required="required"> 
			</div>
		</div>
		
		<div class = "form-group" >
			<label class="col-md-2 control-label">PIB:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.pib" type="text" required="required"> 
			</div>
		</div>
		
		
		
		<div class = "form-group" >
			<label class="col-md-2 control-label">Authority name:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.naziv_organa" type="text" required="required"> 
			</div>
		</div>
			
		<div class = "form-group" >
			<label class="col-md-2 control-label">Competent tax authority for the client:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.nadlezni_poreski_organ_za_klijenta"  type="text"> 
			</div>
		</div>
		
		<div class = "form-group" >
			<label class="col-md-2 control-label">Address:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.address" type="text" required="required"> 
			</div>
		</div>
		
		<div class = "form-group" >
			<label class="col-md-2 control-label">Phone:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.phone"type="number" required="required"> 
			</div>
		</div>	
			
		<div class = "form-group" >
			<label class="col-md-2 control-label">Email:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.email"  type="email" required="required"> 
			</div>
		</div>
		
		<div class = "form-group" >
			<label class="col-md-2 control-label">Address For Statements:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.addressForStatements" type="text" required="required"> 
			</div>
		</div>
		
		<div class = "form-group">
			<label class = "col-md-2 control-label" for = "entityPlace">Place:</label>
			<div class = "col-md-2">
				<input type = "text" name = "entityPlace" id = "entityPlace" ng-model = "entity.residence.name" class="form-control " readonly/>
			</div>
			<span><button type = "button" ng-click = "showModalPlaceSearch()" class = "btn btn-primary" >Select place</button></span>
		</div>	
		
			
		<div class = "form-group" >
			<label class="col-md-2 control-label">Email Statements:</label>
			<div class = "col-md-2">
				<input type="checkbox" checked="checked" ng-model="$parent.entity.emailStatements"/>
			</div>
		</div>
		
		<div class = "form-group" >
			<label class="col-md-2 control-label">First Name:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.firstName" type="text" required="required"> 
			</div>
		</div>
		
		<div class = "form-group" >
			<label class="col-md-2 control-label">Last Name:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.lastName" type="text" required="required"> 
			</div>
		</div>
		
		<div class = "form-group" >
			<label class="col-md-2 control-label">JMBG:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.jmbg" type="text" required="required" ng-minlength=13 ng-maxlength=13> 
			</div>
		</div>
		
		
		<div class = "form-group" >
			<label class="col-md-2 control-label">Type Of Client:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.typeOfClient" type="text" required="required"> 
			</div>
		</div>
		
		
		
		
		<div class = "form-group">
				<label class = "col-md-2 control-label"></label>
				<div class = "col-md-2">
					<span><button type = "submit" class = "btn btn-success" >Add</button></span>
				</div>
		</div>
		

</form>













<div id="modalPlaceSearch" class="modal">
	  	<div class="modal-content">
	    	<h3>Countries</h3><hr/><br/>
	    
	    	<table ng-init = findAllPlaces() ng-table="stateTable" class="table table-bordered " border="1">
				<tr>
					<th>Ptt number</th>
					<th>Name</th>
					<th>Country</th>
				</tr>
				<tr class="state" ng-repeat="place in places" ng-click = "setSelectedPlace(place)" ng-class = "{selected:place === entity.residence}">
					<td>{{place.pttNumber}}</td>
					<td>{{place.name}}</td>
					<td>{{place.country.name}}</td>
				</tr>
			</table>		
			<center><button type = "button" ng-click=closeModalPlaceSearch() class="btn btn-default navbar-btn">OK</button></center>
	 		</div>
		</div>	
	<div id="modalBusinessActivitySearch" class="modal">
	  	<div class="modal-content">
	    	<h3>Countries</h3><hr/><br/>
	    
	    	<table ng-init = findAllBusinessActivites() ng-table="stateTable" class="table table-bordered " border="1">
				<tr>
					<th>Business activity code</th>
					<th>Activity name</th>
				</tr>
				<tr class="state" ng-repeat="ba in businessActivities" ng-click = "setSelectedBusinessActivity(ba)" ng-class = "{selected:ba === entity.businessActivityCode}">
					<td>{{ba.code}}</td>
					<td>{{ba.name}}</td>
				</tr>
			</table>		
			<center><button type = "button" ng-click=closeModalBusinessActivitySearch() class="btn btn-default navbar-btn">OK</button></center>
	 		</div>
		</div>