<br/><br/>
<form class="form-horizontal" ng-submit = "add()" method="post">
		
		<div class = "form-group" >
			<label class="col-md-2 control-label">Address:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.address" type="text"> 
			</div>
		</div>
		
		<div class = "form-group" >
			<label class="col-md-2 control-label">Phone:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.phone"type="number"> 
			</div>
		</div>	
			
		<div class = "form-group" >
			<label class="col-md-2 control-label">Email:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.email"  type="mail"> 
			</div>
		</div>
		
		<div class = "form-group" >
			<label class="col-md-2 control-label">Address For Statements:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.addressForStatements" type="text"> 
			</div>
		</div>
		
			
		<div class = "form-group" >
			<label class="col-md-2 control-label">Email Statements:</label>
			<div class = "col-md-2">
				<input type="checkbox" checked="checked" ng-model="$parent.entity.emailStatements"/>
			</div>
		</div>
		
		
		<div class = "form-group">
				<label class = "col-md-2 control-label"></label>
				<div class = "col-md-2">
					<span><button type = "submit" class = "btn btn-success" >Add</button></span>
				</div>
		</div>
		

</form>