<br/><br/>
<form class="form-horizontal" ng-submit = "add()" method="post">
		
		<div class = "form-group" >
			<label class="col-md-2 control-label">Address:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.address" type="text"> 
			</div>
		</div>
		
		<div class = "form-group" >
			<label class="col-md-2 control-label">Phone:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.phone"type="number"> 
			</div>
		</div>	
			
		<div class = "form-group" >
			<label class="col-md-2 control-label">Email:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.email"  type="mail"> 
			</div>
		</div>
		
		<div class = "form-group" >
			<label class="col-md-2 control-label">Address For Statements:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.addressForStatements" type="text"> 
			</div>
		</div>
		
			
		<div class = "form-group" >
			<label class="col-md-2 control-label">Email Statements:</label>
			<div class = "col-md-2">
				<input type="checkbox" checked="checked" ng-model="$parent.entity.emailStatements"/>
			</div>
		</div>
		
		<div class = "form-group" >
			<label class="col-md-2 control-label">First Name:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.firstName" type="text"> 
			</div>
		</div>
		
		<div class = "form-group" >
			<label class="col-md-2 control-label">Last Name:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.lastName" type="text"> 
			</div>
		</div>
		
		<div class = "form-group" >
			<label class="col-md-2 control-label">JMBG:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.jmbg" type="text"> 
			</div>
		</div>
		
		<div class = "form-group" >
			<label class="col-md-2 control-label">Type Of Client:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.typeOfClient" type="text"> 
			</div>
		</div>
		
		<div class = "form-group">
			<label class = "col-md-2 control-label" for = "searchEntityPlace">Place:</label>
			<div class = "col-md-2">
				<input type = "text" name = "searchEntityPlace" id = "searchEntityPlace" ng-model = "entity.residence.name" class="form-control " readonly/>
			</div>
			<span><button type = "button" ng-click = "showModalSearch()" class = "btn btn-primary" >Select place</button></span>
		</div>	
		
		
		<div class = "form-group">
				<label class = "col-md-2 control-label"></label>
				<div class = "col-md-2">
					<span><button type = "submit" class = "btn btn-success" >Add</button></span>
				</div>
		</div>
		

</form>







<div id="myModalSearch" class="modal">
	  	<div class="modal-content">
	    	<h3>Countries</h3><hr/><br/>
	    
	    	<table ng-init = findAllPlaces() ng-table="stateTable" class="table table-bordered " border="1">
				<tr>
					<th>Ptt number</th>
					<th>Name</th>
					<th>Country</th>
				</tr>
				<tr class="state" ng-repeat="place in places" ng-click = "setSelectedPlaceSearch(place)" ng-class = "{selected:place === searchEntity.residence}">
					<td>{{place.pttNumber}}</td>
					<td>{{place.name}}</td>
					<td>{{place.country.name}}</td>
				</tr>
			</table>		
			<center><button type = "button" ng-click=closeModal() class="btn btn-default navbar-btn">OK</button></center>
	 		</div>
		</div>	