<br/><br/>
<form class="form-horizontal" name= "form" ng-submit = "search()" method = "post">
	<div class = "form-group">
		<label class = "col-md-2 control-label" for = "searchEntityDebtorOriginator">Debtor originator:</label>
		<div class = "col-md-2">
			<input type = "text" name = "searchEntityDebtorOriginator" id = "searchEntityDebtorOriginator" ng-model = "searchEntity.debtor_originator" class="form-control " />
		</div>
	</div>
	
	<div class = "form-group">
		<label class = "col-md-2 control-label" for = "searchEntityPurposeOfPayment">Purpose of payment:</label>
		<div class = "col-md-2">
			<input type = "text" name = "searchEntityPurposeOfPayment" id = "searchEntityPurposeOfPayment" ng-model = "searchEntity.purposeOfPayment" class="form-control " />
		</div>
	</div>
	
	<div class = "form-group">
		<label class = "col-md-2 control-label" for = "searchEntityCreditorRecipient">Creditor recipient:</label>
		<div class = "col-md-2">
			<input type = "text" name = "searchEntityCreditorRecipient" id = "searchEntityCreditorRecipient" ng-model = "searchEntity.creditor_recipient" class="form-control" />
		</div>
	</div>

	<div class = "form-group">
		<label class = "col-md-2 control-label" for = "searchEntityDateOfReceipt">Date of receipt:</label>
		<div class = "col-md-2">
			<input type = "date" name = "searchEntityDateOfReceipt" id = "searchEntityDateOfReceipt" ng-model = "searchEntity.dateOfReceipt" class="form-control " />
		</div>
	</div>

	<div class = "form-group">
		<label class = "col-md-2 control-label" for = "searchEntityCurrencyDate">Currency date:</label>
		<div class = "col-md-2">
			<input type = "date" name = "searchEntityCurrencyDate" id = "searchEntityCurrencyDate" ng-model = "searchEntity.currencyDate" class="form-control " />
		</div>
	</div>

	<div class = "form-group">
		<label class = "col-md-2 control-label" for = "searchEntityDebtorAccount">Debtor account:</label>
		<div class = "col-md-2">
			<input type = "text" name = "searchEntityDebtorAccount" id = "searchEntityDebtorAccount" ng-model = "searchEntity.debtorAccount" class="form-control " />
		</div>
	</div>
	
	<div class = "form-group">
		<label class = "col-md-2 control-label" for = "searchEntityModelAssignments">Model assignments:</label>
		<div class = "col-md-2">
			<input type = "text" name = "searchEntityModelAssignments" id = "searchEntityModelAssignments" ng-model = "searchEntity.modelAssigments" class="form-control " />
		</div>
	</div>

	<div class = "form-group">
		<label class = "col-md-2 control-label" for = "searchEntityReferenceNumberAssigments">Reference number assigments:</label>
		<div class = "col-md-2">
			<input type = "text" name = "searchEntityReferenceNumberAssigments" id = "searchEntityReferenceNumberAssigments" ng-model = "searchEntity.referenceNumberAssigments" class="form-control " />
		</div>
	</div>
	
	<div class = "form-group">
		<label class = "col-md-2 control-label" for = "searchEntityReferenceAccountCreditor">Account creditor:</label>
		<div class = "col-md-2">
			<input type = "text" name = "searchEntityAccountCreditor" id = "searchEntityAccountCreditor" ng-model = "searchEntity.accountCreditor" class="form-control " />
		</div>
	</div>
	
	<div class = "form-group">
		<label class = "col-md-2 control-label" for = "searchEntityModelApproval">Model approval:</label>
		<div class = "col-md-2">
			<input type = "text" name = "searchEntityModelApproval" id = "searchEntityModelApproval" ng-model = "searchEntity.modelApproval" class="form-control " />
		</div>
	</div>
	
	<div class = "form-group">
		<label class = "col-md-2 control-label" for = "searchEntityReferenceNumberCreditor">Reference number creditor:</label>
		<div class = "col-md-2">
			<input type = "text" name = "searchEntityReferenceNumberCreditor" id = "searchEntityReferenceNumberCreditor" ng-model = "searchEntity.referenceNumberCreditor" class="form-control " />
		</div>
	</div>
	
	<div class = "form-group">
		<label class = "col-md-2 control-label" for = "searchEntityEmergency">Emergency:</label>
		<div class = "col-md-2">
			<select type = "text" name = "searchEntityEmergency" id = "searchEntityEmergency" ng-model = "searchEntity.emergency" class="form-control " >
				<option value = ""></option>				
				<option value = "true">YES</option>
				<option value = "false">NO</option>
			</select>
		</div>
	</div>
	
	<div class = "form-group">
		<label class = "col-md-2 control-label" for = "searchEntitySum">Sum:</label>
		<div class = "col-md-2">
			<input type = "text" name = "searchEntitySum" id = "searchEntitySum" ng-model = "searchEntity.sum" class="form-control " />
		</div>
	</div>
	
	<div class = "form-group">
		<label class = "col-md-2 control-label" for = "searchEntityTypeOfMistake">Type of mistake:</label>
		<div class = "col-md-2">
			<input type = "text" name = "searchEntityTypeOfMistake" id = "searchEntityTypeOfMistake" ng-model = "searchEntity.typeOfMistake" class="form-control " />
		</div>
	</div>
	
	<div class = "form-group">
		<label class = "col-md-2 control-label" for = "searchEntityStatus">Status:</label>
		<div class = "col-md-2">
			<input type = "text" name = "searchEntityStatus" id = "searchEntityStatus" ng-model = "searchEntity.status" class="form-control " />
		</div>
	</div>
	
	<div class = "form-group">
		<label class = "col-md-2 control-label" for = "searchEntityDailyAccountBalance">Daily account balance:</label>
		<div class = "col-md-2">
			<input type = "text" name = "searchEntityDailyAccountBalance" id = "searchEntityDailyAccountBalance" ng-model = "selectedDailyAccountBalanceDate" class="form-control" readonly/>
		</div>
		<span><button type = "button" ng-click = "showDailyAccountBalanceModal()" class = "btn btn-primary" >Select daily account balance</button></span>
	</div>
	
	<div class = "form-group">
		<label class = "col-md-2 control-label" for = "searchEntityPaymentType">Payment type:</label>
		<div class = "col-md-2">
			<input type = "text" name = "searchEntityPaymentType" id = "searchEntityPaymentType" ng-model = "searchEntity.paymentType.nameOfPaymentType" class="form-control" readonly/>
		</div>
		<span><button type = "button" ng-click = "showPaymentTypeModal()" class = "btn btn-primary" >Select payment type</button></span>
	</div>
	
	<div class = "form-group">
		<label class = "col-md-2 control-label" for = "searchEntityPaymentCurrency">Payment currency:</label>
		<div class = "col-md-2">
			<input type = "text" name = "searchEntityPaymentCurrency" id = "searchEntityPaymentCurrency" ng-model = "searchEntity.paymentCurrency.name" class="form-control" readonly/>
		</div>
		<span><button type = "button" ng-click = "showPaymentCurrencyModal()" class = "btn btn-primary" >Select payment currency</button></span>
	</div>
	
	<div class = "form-group">
		<label class = "col-md-2 control-label" for = "searchEntityPlace">Place:</label>
		<div class = "col-md-2">
			<input type = "text" name = "searchEntityPlace" id = "searchEntityPlace" ng-model = "searchEntity.place.name" class="form-control" readonly/>
		</div>
		<span><button type = "button" ng-click = "showPlaceModal()" class = "btn btn-primary" >Select place</button></span>
	</div>																
	<div id="dailyAccountBalanceModal" class="modal">
	  	<div class="modal-content">
	    	<h3>Countries</h3><hr/><br/>
	    
	    	<table ng-init = findAllDailyAccountBalances() ng-table="stateTable" class="table table-bordered " border="1">
				<tr>
					<th>Account number</th>
					<th>Traffic date</th>
					<th>Previous state</th>
					<th>Traffic to benefit</th>
					<th>Traffic to the burden</th>
					<th>New state</th>
				</tr>
				<tr class="state" ng-repeat="dab in dailyAccountBalances" ng-click = "setSelectedDailyAccountBalanceSearch(dab)" ng-class = "{selected:dab.id === searchEntity.dailyAccountBalance.id}">
					<td>{{dab.legalEntityAccount.brojRacuna}}</td>
					<td>{{dab.trafficDate}}</td>
					<td>{{dab.previousState}}</td>
					<td>{{dab.trafficToBenefit}}</td>
					<td>{{dab.trafficToTheBurden}}</td>
					<td>{{dab.newState}}</td>
				</tr>
			</table>		
			<center><button type = "button" ng-click=closeDailyAccountBalanceModal() class="btn btn-default navbar-btn">OK</button></center>
	 		</div>
		</div>	
	<div id="paymentTypeModal" class="modal">
	  	<div class="modal-content">
	    	<h3>Countries</h3><hr/><br/>
	    
	    	<table ng-init = findAllPaymentTypes() ng-table="stateTable" class="table table-bordered " border="1">
				<tr>
					<th>code</th>
					<th>nameOfPaymentType</th>
				</tr>
				<tr class="state" ng-repeat="pt in paymentTypes" ng-click = "setSelectedPaymentTypeSearch(pt)" ng-class = "{selected:pt.id === searchEntity.paymentType.id}">
					<td>{{pt.code}}</td>
					<td>{{pt.nameOfPaymentType}}</td>
				</tr>
			</table>		
			<center><button type = "button" ng-click=closePaymentTypeModal() class="btn btn-default navbar-btn">OK</button></center>
	 		</div>
		</div>	
	<div id="paymentCurrencyModal" class="modal">
	  	<div class="modal-content">
	    	<h3>Payment currencies</h3><hr/><br/>
	    
	    	<table ng-init = findAllPaymentCurrencies() ng-table="stateTable" class="table table-bordered " border="1">
				<tr>
					<th>Official code</th>
					<th>Name</th>
					<th>Domicilna?</th>
					<th>Country</th>
				</tr>
				<tr class="state" ng-repeat="pc in paymentCurrencies" ng-click = "setSelectedPaymentCurrencySearch(pc)" ng-class = "{selected:pc.id === searchEntity.paymentCurrency.id}">
					<td>{{pc.official_code}}</td>
					<td>{{pc.name}}</td>
					<td>{{pc.domicilna}}</td>
					<td>{{pc.country.name}}</td>
				</tr>
			</table>		
			<center><button type = "button" ng-click=closePaymentCurrencyModal() class="btn btn-default navbar-btn">OK</button></center>
	 		</div>
		</div>
		<div id="placeModal" class="modal">
		  	<div class="modal-content">
		    	<h3>Places</h3><hr/><br/>
		    
		    	<table ng-init = findAllPlaces() ng-table="stateTable" class="table table-bordered " border="1">
					<tr>
						<th>Ptt number</th>
						<th>Name</th>
						<th>Country</th>
					</tr>
					<tr class="state" ng-repeat="p in places" ng-click = "setSelectedPlaceSearch(p)" ng-class = "{selected:p.id === searchEntity.place.id}">
						<td>{{p.pttNumber}}</td>
						<td>{{p.name}}</td>
						<td>{{p.country.name}}</td>
					</tr>
				</table>		
				<center><button type = "button" ng-click=closePlaceModal() class="btn btn-default navbar-btn">OK</button></center>
		 	</div>
		</div>	
	<div class = "form-group">
		<label class = "col-md-2 control-label" ></label>
		<div class = "col-md-2">
			<span><button type = "submit" class = "btn btn-success" >Search</button></span>
		</div>
	</div>
</form>
