<br/><br/>
<form class="form-horizontal" ng-submit = "add()" method="post">
		<div class = "form-group" >
			<label class="col-md-2 control-label">Code:</label>
			<div class = "col-md-2">
				<input class="form-control input-sm" ng-model="$parent.entity.code" type="text" required> 
			</div>
		</div>	
		
		<div class = "form-group" >
			<label class="col-md-2 control-label">Name:</label>
			<div class = "col-md-2">
				<input  class="form-control control input-sm" ng-model="$parent.entity.name" type="text" required> 
			</div>
		</div>	
		
		
		<div class = "form-group">
				<label class = "col-md-2 control-label"></label>
				<div class = "col-md-2">
					<span><button type = "submit" class = "btn btn-success" >Add</button></span>
				</div>
		</div>
		

</form>