 <div id = "options">
	
	
	 <div class="toolbar">
		<button class = "search" ui-sref = ".search" ng-click = "deselect()"></button>
		<button class = "refresh" ui-sref = "legalEntityAccount" ng-click = "refresh()"></button>
		<button class = "back"></button>
		<button class = "help"></button>
		&nbsp&nbsp
		<button class = "first" ng-click = "firstone()">
		</button>
		<button class = "previous" ng-click = "previous(entity)"></button>
		<button class = "next" ng-click = "nextNavigation(entity)"></button>
		<button class = "last"  ng-click = "lastone()"></button>
		&nbsp&nbsp
		<button ui-sref=".add"  class = "add" ng-click = "deselect()"></button>
		<button class = "delete" ng-click = "delete()"></button>
		&nbsp&nbsp
		<button class = "nextForm" ng-click = "next()"></button>
	</div>	

	<div>
			<table class="table table-bordered">
			<tr>
				<th>Client</th>
				<th>Bank</th>
				<th>Broj racuna</th>
				<th>Datum otvaranja</th>
				<th>Currency</th>
				<th>Vazeci?</th>
			</tr>
			<tr ng-repeat="entity in entities| orderBy:'id'" ng-click = "setSelected(entity)" ng-class = "{selected: entity === selectedEntity}">
				<td ng-show = "entity.client.typeOfClient=='Fizicko lice'">{{entity.client.firstName}} {{entity.client.lastName}}</td>
				<td ng-hide = "entity.client.typeOfClient=='Fizicko lice'">{{entity.client.naziv_klijenta}}</td>
				<td>{{entity.bank.name}}</td>
				<td>{{entity.brojRacuna}}</td>
				<td>{{entity.datumOtvaranja}}</td>
				<td>{{entity.currency.name}}</td>
				<td ng-if = "entity.vazeci == true">YES</td>
				<td ng-if = "entity.vazeci == false">NO</td>
				<td><button ng-click = "showExportStatementsModal()" class = "btn btn-success btn-block">Export xml</button></td>
				<td><button ng-click = "showExportPdfModal()" class = "btn btn-success btn-block">Export pdf</button></td>

			</tr>
		</table>
	
	
	</div>
	<div id="exportStatementsModal" class="modal">
	  	<div class="modal-content2">
	        <div class="modal-header">
	          <button type="button" class="close" ng-click = "closeExportStatementsModal()">&times;</button>
	        </div>
	    	<h3>Select period</h3><hr/><br/>
				<form class="form-inline" ng-submit = "exportStatementsToXml()" method="post">

					<div class = "form-group" >
						<label >Between:</label>
						<input  class="form-control " ng-model="$parent.startDate" type="date" required> 
					</div>	

					<div class = "form-group" >
						<label >and</label>
						<input  class="form-control " ng-model="$parent.endDate" type="date" required> 
					</div>
					<div class = "form-group" >
						<button type = "submit" class = "btn btn-success" >OK</button>
					</div>
				</form>
						
					    				
	 	</div>
	</div>
	<div id="exportPdfModal" class="modal">
	  	<div class="modal-content2">
	        <div class="modal-header">
	          <button type="button" class="close" ng-click = "closeExportPdfModal()">&times;</button>
	        </div>
	    	<h3>Select period</h3><hr/><br/>
				<form class="form-inline" ng-submit = "exportToPdf()" method="post">

					<div class = "form-group" >
						<label >Between:</label>
						<input  class="form-control " ng-model="$parent.startDatePdf" type="date" required> 
					</div>	

					<div class = "form-group" >
						<label >and</label>
						<input  class="form-control " ng-model="$parent.endDatePdf" type="date" required> 
					</div>
					<div class = "form-group" >
						<button type = "submit" class = "btn btn-success" >OK</button>
					</div>
				</form>
						
					    				
	 	</div>
	</div>	
</div>





<div>
    <div ui-view></div>
    </div>